/* Window Screen */
.body {
  background-color: #202123;
}

/* Project Title */

.mainDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  color: white;
  font-size: 40px;
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  border-radius: 10px;
}

.desc {
  margin-top: -10px;
  margin-bottom: 20px;
  color: white;
  font-family: "Varela Round", sans-serif;
  border-radius: 10px;
}

/* Textbar */

.textSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textBar {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  padding: 0px 20px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.19), 0 10px 10px rgba(0, 0, 0, 0.23),
    inset 0 10px 10px rgba(0, 0, 0, 0.23),
    inset 0 -10px 10px rgba(0, 0, 0, 0.23);
  border-radius: 10px;
  background-color: #40414f;
}

.inputBar {
  height: 40px;
  width: 100%;
  color: white;
  background-color: transparent;
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;
  font-family: "Courier Prime", monospace;
  outline: none;
}

.inputBar::placeholder {
  color: white;
}

.messageButton {
  height: 35px;
  width: 35px;
  background: none;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease-in-out;
}

.messageButton:hover {
  background-color: #30313b;
  border-radius: 8px;
}

.messageButton:hover .message {
  transform: scale(1.1);
}

.message {
  height: 20px;
  width: 20px;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease-in-out;
}

.message img {
  height: 15px;
  width: 15px;
}

/* Generated Image */

.generateImage {
  margin-top: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.image {
  width: 256px;
  height: 256px;
  border-radius: 8%;
  background-color: #40414f;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.19), 0 10px 10px rgba(0, 0, 0, 0.23),
    inset 0 10px 10px rgba(0, 0, 0, 0.23),
    inset 0 -10px 10px rgba(0, 0, 0, 0.23);
}

/* React Spinner */

.reactSpinner {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
